.dashContainer{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    background: rgb(248, 247, 247);
    padding: 25px 10px;
}

.dashCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 15px;
    width : 450px;
}
.index{
    color: grey;
}
